@using LDBS.Models;
@{
    ViewBag.Title = "DeathRoster";
    List<DeathRosterSQL> deathRosterList = ViewBag.deathRosterlist;
}

<h2>DeathRoster</h2>

<table class="table">
    <thead>
        <tr align="center" style="font-weight:bold">
            <td></td>
            <td>序號</td>
            <td>身分證</td>
            <td>姓名</td>
            <td>性別</td>
            <td>死亡日期</td>
            <td>狀態</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (DeathRosterSQL deathRosterSQL in deathRosterList)
        {
            <tr align="center" style="font-weight:bold">
                @if (@deathRosterSQL.State == "未報到")
                {
                    @*可勾選*@
                    <td><input type="checkbox"></td>
                }
                else
                {
                    @*不可勾選*@
                    <td><input type="checkbox" onclick="return false" disabled></td>
                }
                <td>@deathRosterSQL.ROWID</td>
                <td>@deathRosterSQL.ID</td>
                <td>@deathRosterSQL.Name</td>
                <td>@deathRosterSQL.Gender</td>
                <td>@(@deathRosterSQL.Death_Date.ToString("yyyy/MM/dd HH:mm:ss"))</td>
                <td>@deathRosterSQL.State</td>
                <td><button onclick="location.href='@Url.Action("DeathRosterDetails","Staff", new { ID = deathRosterSQL.ID})'">詳細</button></td>
            </tr>
        }
    </tbody>
</table>

<div style="text-align: center"><input type="button" onclick="" value="送出"></div>
